@{
    ViewData["Title"] = "Order";
}

@{
}
@model List<Product>
@inject ILogin _login

    <br />

    <h1>Panier n° @ViewBag.Order.Id</h1>

    <br />

    <div class="container">

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Photo</th>
                    <th scope="col">Nom du produit</th>
                    <th scope="col">Quantité</th>
                    <th scope="col">Prix total</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @*            @foreach (Product p in Model)
                {
                    <tr>
                        <td><img class="" height="200" src="@p.Url_photo"></td>
                        <td>@p.Name</td>
                        <td>@p.Unit_price €</td>
                        <td><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="ShowProduct" asp-route-id="@p.Id"><i class="fas fa-eye"></i></a></td>
                    </tr>
                }*@

                @foreach (ProductOrder p in ViewBag.Order.Productorderlist)
                {
                    <tr>
                        <td><img class="" height="200" src="@p.Product.Url_photo"></td>
                        <td>@p.Product.Name</td>
                        <td>@p.Quantity</td>
                        <td>@p.Total €</td>
                        <td><a class="nav-link text-dark" asp-area="" asp-controller="Order" asp-action="DeleteProductOrder" asp-route-id="@p.Id" asp-route-Qte="@p.Quantity"><i class="fas fa-minus-circle"></i></a></td>
                    </tr>
                }
            </tbody>
        </table>

        <br />

        <div class="row justify-content-center">
            <form method="get">
                <div class="col-6">
                    <input type="submit" value="Valider le panier" class="btn btn-primary" asp-controller="Order" asp-action="ValidOrder" />
                </div>
            </form>
        </div>
        <br />
        <div class="row justify-content-center">
            <form method="get">
                <div class="col-6">
                    <input type="submit" value="Annuler le panier" class="btn btn-danger" asp-controller="Order" asp-action="DeleteOrder" />
                </div>
            </form>
        </div>
        <br />
        <div class="row justify-content-center">
            <form method="get">
                <div class="col-6">
                    <input type="submit" value="Historique des commandes" class="btn btn-success" asp-controller="Order" asp-action="HistoOrder" />
                </div>
            </form>
        </div>
    </div>
