@{
    ViewData["Title"] = "Commande";
}

<br />

<h1>Commande n° @ViewBag.Order.Id</h1>

<br />

<div class="container">

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Photo</th>
                <th scope="col">Nom du produit</th>
                <th scope="col">Quantité</th>
                <th scope="col">Prix total</th>
            </tr>
        </thead>
        <tbody>
            @foreach (ProductOrder p in ViewBag.Order.Productorderlist)
            {
                <tr>
                    <td><img class="" height="200" src="@p.Product.Url_photo"></td>
                    <td>@p.Product.Name</td>
                    <td>@p.Quantity</td>
                    <td>@p.Total €</td>
                </tr>
            }
        </tbody>
    </table>
</div>
