<h1>Modification du produit</h1>

<form asp-controller="Admin" asp-action="SubmitEditFormProduct" method="post">
    <div>
        <input class="form-control" type="text" name="id" hidden placeholder="id" value="@ViewBag.Product.Id" />
    </div>
    <div class="row">
        <div class="col-4">
            <label class="" for="name">Nom du produit</label>
            <input class="form-control" id="name" type="text" name="name" placeholder="Nom" value="@ViewBag.Product.Name" />
        </div>
        <div class="col-4">
            <label class="" for="Description">Description</label>
            <input class="form-control" id="Description" type="text" name="description" placeholder="Description" value="@ViewBag.Product.Description" />
        </div>
        <div class="col-4">
            <label class="" for="ProductYear">Année de production</label>
            <input class="form-control" id="ProductYear" type="number" name="product_year" placeholder="Année de production" value="@ViewBag.Product.Product_year" />
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-6">
            <label class="" for="Quantity">Quantité</label>
            <input class="form-control" id="Quantity" type="number" name="quantity" placeholder="Quantité" value="@ViewBag.Product.Quantity" />
        </div>
        <div class="col-6">
            <label class="" for="UnitPrice">Prix unitaire</label>
            <input class="form-control" id="UnitPrice" type="number" name="unit_price" placeholder="Prix" value="@ViewBag.Product.Unit_price" />
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-6">
            <label class="" for="QuantityLot">Quantité du lot</label>
            <input class="form-control" type="number" id="QuantityLot" name="quantity_lot" placeholder="Quantité en lot" value="@ViewBag.Product.Quantity_lot" />
        </div>
        <div class="col-6">
            <label class="" for="PriceLot">Prix du lot</label>
            <input class="form-control" id="PriceLot" type="number" name="lot_price" placeholder="Prix en lot" value="@ViewBag.Product.Lot_price" />
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-12">
            <label class="" for="photo">Photo</label>
            <input class="form-control" id="photo" type="text" name="url_photo" placeholder="Photo" value="@ViewBag.Product.Url_photo" />
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-3">
            <label class="" for="home">Maison</label>
            <select class="form-control" id="home" name="id_Home" aria-label="Maison">
                @foreach (Home h in ViewBag.Home)
                {
                    if (ViewBag.Product.Home.Id_Home == h.Id_Home)
                    {
                        <option selected value="@h.Id_Home">@h.Name</option>
                    }
                    else
                    {
                        <option value="@h.Id_Home">@h.Name</option>
                    }
                }
            </select>
        </div>
        <div class="col-3">
            <label class="" for="family">Famille</label>
            <select class="form-control" id="family" name="id_Family" aria-label="Famille">
                @foreach (Family f in ViewBag.Family)
                {
                    if (ViewBag.Product.Family.Id_Family == f.Id_Family)
                    {
                        <option selected value="@f.Id_Family">@f.Name</option>

                    }
                    else
                    {
                        <option value="@f.Id_Family">@f.Name</option>
                    }
                }
            </select>
        </div>
        <div class="col-3">
            <label class="" for="warehouse">Entrepôt</label>
            <select class="form-control" id="warehouse" name="id_Warehouse" aria-label="Entrepot">
                @foreach (Warehouse w in ViewBag.Warehouse)
                {
                    if (ViewBag.Product.Warehouse.Id_Warehouse == w.Id_Warehouse)
                    {
                        <option selected value="@w.Id_Warehouse">@w.Name</option>


                    }
                    else
                    {
                        <option value="@w.Id_Warehouse">@w.Name</option>
                    }
                }
            </select>
        </div>
        <div class="col-3">
            <label class="" for="provider">Fournisseur</label>
            <select class="form-control" id="provider" name="provider.id" aria-label="Fournisseur">
                @foreach (Provider p in ViewBag.Provider)
                {
                    if (ViewBag.Product.Provider.Id == p.Id)
                    {
                        <option selected value="@p.Id">@p.Name</option>


                    }
                    else
                    {
                        <option value="@p.Id">@p.Name</option>
                    }
                }
            </select>
        </div>
    </div>
    <br />
    <div class="row justify-content-center">
        <div class="form-check col-md-3">
            @if (ViewBag.Product.Available == true)
            {
                <input class="form-check-input position-static" type="checkbox" id="gridCheck" name="available" value="true" checked>
            }
            else
            {
                <input class="form-check-input position-static" type="checkbox" id="gridCheck" name="available" value="true">
            }
            <label class="form-check-label" for="gridCheck"> Disponnible</label>
        </div>
    </div>
    <br />
    <div class="row justify-content-center">
        <div class="form-check col-md-3">
            @if (ViewBag.Product.Auto_replenishment == true)
            {
                <input class="form-check-input position-static" type="checkbox" id="gridCheck" name="auto_replenishment" value="true" checked>
            }
            else
            {
                <input class="form-check-input position-static" type="checkbox" id="gridCheck" name="auto_replenishment" value="true">
            }
            <label class="form-check-label" for="gridCheck"> Auto réapprovisionnement</label>
        </div>
    </div>
    <br />
    <div class="row justify-content-center">
        <div class="col-6">
            <button type="submit" class="btn btn-primary btn-block">Enregistrer</button>
        </div>
    </div>
</form>